
body {
	font-family: -apple-system,Helvetica Neue,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 22px;
	padding: 0;
	margin: 0 0 10px;
}

h2 {
	font-size: 20px;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	margin-top: 30px;
}

.default_svg {
	border: 2px solid lightgray;
	margin-top: 10px;
    width: 900px;
    height: 500px;
}

.page {
	margin-left: 15px;
	padding-top: 10px;
	max-width: 1000px;
}


.tooltip {
	position: absolute;
	text-align: center;
	padding: .3rem;
	background: #e2deff;
	color: #1c1b1c;
	border: 2px;
	border-radius: 15px;
	pointer-events: none;
	font-size: .7rem;
}

.toolwip {
	position: absolute;
	text-align: center;
	padding: .3rem;
	background: #f5d3e7;
	color: #1c1b1c;
	border: 2px;
	border-radius: 10px;
	pointer-events: none;
	font-size: .7rem;
}
.toolkip {
	position: absolute;
	text-align: center;
	padding: .3rem;
	background: #fcecb8;
	color: #1c1b1c;
	border: 2px;
	border-radius: 10px;
	pointer-events: none;
	font-size: .7rem;
}

.toolsip {
	position: absolute;
	text-align: center;
	padding: .3rem;
	background: #ffdbdb;
	color: #1c1b1c;
	border: 2px;
	border-radius: 15px;
	pointer-events: none;
	font-size: .6rem;
}

#button5 {
	background-color: #ffa600;
	width: 90px;
	font-size: 16px;
	font-weight: bold;
	padding: 2px;
	border-radius: 15px;
	border: 2px solid #200138;
	color: #050505;
	cursor: pointer;
	transform: translate(+300%, +450%);
}
#button6 {
	background-color: #ff6361;
	width: 90px;
	font-size: 16px;
	font-weight: bold;
	padding: 2px;
	border-radius: 15px;
	border: 2px solid #200138;
	color: #050505;
	cursor: pointer;
	transform: translate(+300%, +450%);
}
#button7 {
	background-color: #bc5090;
	width: 90px;
	font-size: 16px;
	font-weight: bold;
	padding: 2px;
	border-radius: 15px;
	border: 2px solid #200138;
	color: #050505;
	cursor: pointer;
	transform: translate(+300%, +450%);
}
#button8 {
	background-color: #58508d;
	width: 90px;
	font-size: 16px;
	font-weight: bold;
	padding: 2px;
	border-radius: 15px;
	border: 2px solid #200138;
	color: #050505;
	cursor: pointer;
	transform: translate(+300%, +450%);
}
#button9 {
	background-color: #003f5c;
	width: 90px;
	font-size: 16px;
	font-weight: bold;
	padding: 2px;
	border-radius: 15px;
	border: 2px solid #200138;
	color: #050505;
	cursor: pointer;
	transform: translate(+300%, +450%);
}
#button10 {
	background-color: #6bb068;
	width: 120px;
	font-size: 16px;
	font-weight: bold;
	padding: 2px;
	border-radius: 15px;
	border: 2px solid #200138;
	color: #050505;
	cursor: pointer;
	transform: translate(+225%, +450%);
}

#button1 {
	background-color: #ffa600;
	width: 90px;
	font-size: 16px;
	font-weight: bold;
	padding: 2px;
	border-radius: 15px;
	border: 2px solid #200138;
	color: #050505;
	cursor: pointer;
	transform: translate(+250%, +450%);
}
#button2 {
	background-color: #ff6361;
	width: 90px;
	font-size: 16px;
	font-weight: bold;
	padding: 2px;
	border-radius: 15px;
	border: 2px solid #200138;
	color: #050505;
	cursor: pointer;
	transform: translate(+250%, +450%);
}
#button3 {
	background-color: #bc5090;
	width: 90px;
	font-size: 16px;
	font-weight: bold;
	padding: 2px;
	border-radius: 15px;
	border: 2px solid #200138;
	color: #050505;
	cursor: pointer;
	transform: translate(+250%, +450%);
}
#button4 {
	background-color: #877ec2;
	width: 90px;
	font-size: 16px;
	font-weight: bold;
	padding: 2px;
	border-radius: 15px;
	border: 2px solid #200138;
	color: #050505;
	cursor: pointer;
	transform: translate(+250%, +450%);
}